@using Website.Models.DbDto;
@using Website.Infrastructure.Utils;
@using Website.Infrastructure.Repositories;
@model List<AuthorInfo>

@{
    var filtersList = AuthorsRepository.GetFiltersList();
    var parts = Model.SplitOnStripes(4);
    var partNames = new[] { "first", "second", "third", "fourth" };

    string FormatCountString(int count)
    {
        return count == 1 ? "1 book" : $"{count} books";
    }
}

@section Style {
    <link rel="stylesheet" href="/css/author-page.css" />
}

<section class="author_list">
    <div class="container">
        <div class="author_list-header">
            <div class="author_header--inner">
                <ul class="author_header-list">
                @foreach (var filter in filtersList)
                {
                    <li class="author_letters"><a class="author_letters--link" href="@Url.Action("Index", new { id = filter })">@filter</a></li>
                }
                </ul>
            </div>
        </div>
        @if (Model.Count == 0)
        { 
        <div class="author-loading">
            <ul class="wave-menu">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
        }
        <div class="author_list-body">
            <div class="author_body--inner">
            @for (var i = 0; i < partNames.Length; i++)
            {
                <div class="author_list--@partNames[i] list--column">
                    <div class="author_@partNames--name">
                        @{
                            var columnData = parts[i];
                            for (var j = 0; j < columnData.Count; j++)
                            {
                                var pClass = partNames[j == 0 ? i : 0];
                                var author = columnData[j];
                                <p class="author_@pClass--row"><a href="@Url.Action("Index", "Home", new { AuthorId = author.Id })">@author.Name</a></p>
                                <p> @FormatCountString(author.BooksCount)</p>
                            }
                        }
                    </div>
                </div>
            }

            </div>
        </div>
    </div>
</section>

@section Script {
    <script src="./js/author-page.js"></script>
}