@using Website.Controllers;
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/footer-logo.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/css/slick.css" />
    <link rel="stylesheet" href="/css/all.min.css">
    @if (IsSectionDefined("Style"))
        RenderSection("Style");

    <title>@ViewData["Title"]</title>
</head>
@{ 
    string GetCurrentPage()
    {
        var controller = ViewData["Controller"];
        if (controller == null) return string.Empty;

        if (controller is HomeController)
        {
            var request = ViewContext.HttpContext.Request;
            var key = "RatedOnly";
            Microsoft.Extensions.Primitives.StringValues values;
            if (!request.Query.TryGetValue(key, out values)) return "Home";
            if (values.Count != 1) return "Home";
            var value = values[0];
            var intValue = 0;
            if (!int.TryParse(value, out intValue) || intValue == 0) return "Home";
            return "MyFavorites";
        }

        var controllerName = controller.GetType().Name;
        var suffix = "Controller";

        if (controllerName.EndsWith(suffix)) return controllerName.Substring(0, controllerName.Length - suffix.Length);

        return string.Empty;
    }

    var currentPage = GetCurrentPage();

    string GetLinkAttributeForPage(string page)
    {
        var url = string.Empty;

        if (currentPage != page)
        {
            url = Url.Action("Index", page);
        }


        if (url != String.Empty)
            return $"href=\"{url}\"";

        return string.Empty;
    }
}
<body>
    <div class="wrapper">
        <header class="header">
            <div class="header_nav">
                <ul class="header_nav-lists">
                    <li class="header_nav-item"><a class="header_nav-link text-nav home_header-link" href="/">Home</a></li>
                    <span class="stick_header text-nav"> | </span>
                    <li class="header_nav-item"><a class="header_nav-link text-nav @(currentPage=="MyFavorites"?"home_header-link":string.Empty)" @Html.Raw(GetLinkAttributeForPage("MyFavorites"))>My Favorites</a></li>
                    <span class="stick_header text-nav"> | </span>
                    <li class="header_nav-item"><a class="header_nav-link text-nav @(currentPage=="Authors"?"home_header-link":string.Empty)" @Html.Raw(GetLinkAttributeForPage("Authors"))>Authors</a></li>
                    <span class="stick_header text-nav"> | </span>
                    <li class="header_nav-item"><a class="header_nav-link text-nav @(currentPage=="About"?"home_header-link":string.Empty)" @Html.Raw(GetLinkAttributeForPage("About"))>About us</a></li>
                </ul>
            </div>
        </header>
        @if (IsSectionDefined("HeaderContent"))
            RenderSection("HeaderContent");
        
        <main>
            @RenderBody()
            @await Html.PartialAsync("~/Views/Shared/_Recommendations.cshtml", ViewData["Recommendations"])
        </main>
        <footer class="footer">
            <div class="container">
                <div class="footer_inner">
                    <div class="first_col">
                        <div class="first_inner">
                            <div class="footer_logo">
                                <img src="/img/footer-logo.png" alt="logo">
                            </div>
                            <p class="logo_text">
                                Nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </p>
                            <ul class="footer_links">
                                <li class="footer_items">
                                    <a class="footer_socials-link" href="#">
                                        <img src="/img/facebook.png"
                                             alt="facebook">
                                    </a>
                                </li>
                                <li class="footer_items">
                                    <a class="footer_socials-link" href="#">
                                        <img src="/img/linkedin.png"
                                             alt="linkedin">
                                    </a>
                                </li>
                                <li class="footer_items">
                                    <a class="footer_socials-link" href="#">
                                        <img src="/img/twitter.png"
                                             alt="twitter">
                                    </a>
                                </li>
                                <li class="footer_items">
                                    <a class="footer_socials-link" href="#">
                                        <img src="/img/youtube.png"
                                             alt="youtube">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="second_col">
                        <div class="second_inner">
                            <h2 class="company_name">Company</h2>
                            <ul class="footer_second-list">
                                <li class="footer_second-item"><a class="footer_item-link sefooter" href="#">HOME</a></li>
                                <li class="footer_second-item"><a class="footer_item-link sefooter" href="./book-info.html" target="_parent">BLOG</a></li>
                                <li class="footer_second-item"><a class="footer_item-link sefooter" href="#">AUTHORS</a></li>
                                <li class="footer_second-item"><a class="footer_item-link sefooter" href="./about-us.html" target="_parent">ABOUT US</a></li>
                                <li class="footer_second-item"><a class="footer_item-link sefooter" href="./about-us.html" target="_parent">CONTACT</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="third_col">
                        <div class="third_inner">
                            <h2 class="company_name">Important Links</h2>
                            <ul class="footer_third-list">
                                <li class="footer_third-item"><a class="footer_item-link" href="#">Privacy Policy</a></li>
                                <li class="footer_third-item"><a class="footer_item-link" href="#">FAQs</a></li>
                                <li class="footer_third-item"><a class="footer_item-link" href="#">Terms of Service</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="go_top">
                        <p><a class="top company_name" href="#">Go TO Top &#8963;</a></p>
                    </div>
                </div>
                <div class="footer_end">
                    <p class="footer_end-text">© 2023 Slash Inc. All rights reserved.</p>
                    <p class="footer_end-text2">Privacy | Terms of Service</p>
                </div>
            </div>
        </footer>
    </div>
    <script src="/js/jquery.min.js" integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript" src="/js/slick.min.js"></script>
    @if (IsSectionDefined("Script"))
        RenderSection("Script");

</body>

</html>