@using Website.Models.DbDto;
@model BookInfo

@section Style {
    <link rel="stylesheet" href="/css/book-info.css" />
}

@{ 
    string checkedForRating(decimal? rating, decimal value)
    {
        return rating == value ? "checked" : string.Empty;
    }

    string formatRatingValue(decimal rating)
    {
        var dInt = Math.Floor(rating);
        if (dInt == rating)
            return ((int)dInt).ToString();
        else
            return rating.ToString();
    }
}
@if (Model != null)
{
    <section class="book-details">
        <div class="conatiner">
            <div class="book_inner">
                <h2 class="book_header text-header">@Model.Title</h2>
                <div class="info_inner">
                    <div class="book_img">
                        <img src="@Model.Image_URL_L" alt="book">
                        <img class="book_info-background" src="/img/main-logo.png" alt="backgroung-logo">
                    </div>
                    <div class="details-inner">
                        <p class="book_text1">@Model.Title</p>
                        <p class="book_name">@Model.Author</p>
                        <div class="star">
                            <fieldset class="rating" id="rating_@Model.Id">
                                <input type="radio" id="star5" name="rating" value="5" @checkedForRating(Model.Rating, 5)/><label for="star5" class="full"
                                                                                                title="awesome"></label>
                                <input type="radio" id="star4.5" name="rating" value="4.5" @checkedForRating(Model.Rating, 4.5m) /><label for="star4.5"
                                                                                                    class="half"></label>
                                <input type="radio" id="star4" name="rating" value="4" @checkedForRating(Model.Rating, 4)/><label for="star4" class="full"></label>
                                <input type="radio" id="star3.5" name="rating" value="3.5" @checkedForRating(Model.Rating, 3.5m)/><label for="star3.5"
                                                                                                    class="half"></label>
                                <input type="radio" id="star3" name="rating" value="3" @checkedForRating(Model.Rating, 3)/><label for="star3" class="full"
                                                                                                title="enjoyable"></label>
                                <input type="radio" id="star2.5" name="rating" value="2.5" @checkedForRating(Model.Rating, 2.5m)/><label for="star2.5"
                                                                                                    class="half"></label>
                                <input type="radio" id="star2" name="rating" value="2" @checkedForRating(Model.Rating, 2)/><label for="star2" class="full"></label>
                                <input type="radio" id="star1.5" name="rating" value="1.5" @checkedForRating(Model.Rating, 1.5m)/><label for="star1.5"
                                                                                                    class="half"></label>
                                <input type="radio" id="star1" name="rating" value="1" @checkedForRating(Model.Rating, 1)/><label for="star1" class="full"></label>
                                <input type="radio" id="star0.5" name="rating" value="0.5" @checkedForRating(Model.Rating, 0.5m)/><label for="star0.5" class="half"
                                                                                                    title="dislike"></label>
                            </fieldset>
                            <br>
                            <h3 id="rating-value" class="rating_num">
                                @Html.Raw(Model.Rating.HasValue?$"{formatRatingValue(Model.Rating.Value)} out of 5":String.Empty)
                            </h3>
                        </div>
                        <p class="book_bio">
                            Jump start your book reading by quickly check through the popular book categories.
                            1000+ books are published by different authors everyday. <br> Harper Collins Publishers in 2001.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
}

@section Script {
    <script src="/js/ratings.js"></script>
    <script src="/js/book-info.js"></script>
}
